<div class="wrapper youduck">
    <img class="logo" src="/img/youduck/logo.png" />

    <h3 class="title">실시간 <span>구독플갱어</span></h3>

    <div class="js-div-doppel-tab-wrapper doppel-tab-wrapper">
        <div class="js-div-doppel-tab doppel-tab selected" action="CORR">같이 구독한 채널</div>
        <div class="js-div-doppel-tab doppel-tab" action="DIFF">서로 다른 채널</div>
    </div>
    
    <div class="js-div-doppel-channel-list-wrapper doppel-channel-list-wrapper">
        <div class="js-div-doppel-channel-list doppel-channel-list" action="CORR"></div>
        <div class="js-div-doppel-channel-list doppel-channel-list" action="DIFF" style="display: none;"></div>
    </div>

    <p class="js-p-rank-result result-desc"></p>

    <div class="button-wrapper">
        <button class="js-button-rank highlight"><span>구독랭킹</span> 알아보기</button>
        <button class="js-button-back">처음으로 돌아가기</button>
    </div>

    <p class="js-p-logout logout">로그아웃</p>
</div>