<div class="wrapper youduck">
    <img class="logo" src="/img/youduck/logo.png" />
    
    <button class="js-button-rank find rank"><span>구독랭킹</span> 알아보기<i class="far fa-chevron-right"></i></button>
    <button class="js-button-doppel find doppel"><span>구독플갱어</span> 찾기<i class="far fa-chevron-right"></i></button>

    <p class="js-p-logout logout">로그아웃</p>
</div>