<div class="wrapper youduck">
    <img class="logo" src="/img/youduck/logo.png" />

    <button class="js-button-rank find rank"><span>구독랭킹</span> 알아보기<i class="far fa-chevron-right"></i></button>
    <button class="js-button-doppel find doppel"><span>구독플갱어</span> 찾기<i class="far fa-chevron-right"></i></button>

    <p class="js-p-logout logout">로그아웃</p>

    <div class="adsense vertical">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- square -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2589455479887760"
             data-ad-slot="2030879422"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
