<div class="wrapper youduck">
    <img class="logo" src="/img/youduck/logo.png" />

    <button class="js-button-rank find rank"><span>구독랭킹</span> 알아보기<i class="far fa-chevron-right"></i></button>
    <button class="js-button-doppel find doppel"><span>구독플갱어</span> 찾기<i class="far fa-chevron-right"></i></button>

    <% if (isYuLogined) { %> <p class="js-p-logout logout">로그아웃</p> <% } %>

    <ul class="desc">
        <li>1. Youduck(유덕) 서비스는 유튜브 계정 정보를 필요로 합니다.</li>
        <li>2. Google-Youtube 계정으로 로그인할 수 있습니다.</li>
        <li>3. Youduck(유덕) 서비스는 Youtube 계정의 구독채널 정보를 수집합니다.</li>
        <li>4. [구독랭킹 찾기]는 수집한 계정의 구독채널을 바탕으로 구독 수에 따라 순위를 보여줍니다.</li>
        <li>5. [구독플갱어 찾기]는 수집한 계정의 구독채널을 바탕으로 비슷한 구독채널을 보유한 다른 사용자를 알려줍니다.</li>
        <li>5. Youduck(유덕) 서비스는 수집한 계정 정보를 암호화하며 표시된 다른 사람의 정보는 열람이 불가합니다.</li>
    </ul>

    <div class="adsense vertical">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- square -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2589455479887760"
             data-ad-slot="2030879422"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
