<div class="wrapper youduck">
    <img class="logo" src="/img/youduck/logo.png" />

    <h3 class="title"><span>슈퍼 스크립퍼</span> 실시간 TOP 5</h3>

    <div class="rank-header">
        <span class="no">순위</span>
        <span class="name">이름</span>
        <span class="count">구독 채널 수</span>
    </div>

    <ul class="js-ul-rank-list rank-wrapper"></ul>

    <div class="dots"><i class="fal fa-ellipsis-v"></i></div>

    <div class="my-rank">
        <span class="js-span-my-rank no"></span>
        <span class="js-span-my-name name"></span>
        <span class="js-span-my-subscription-cnt count"></span>
    </div>

    <p class="js-p-rank-result result-desc"></p>

    <div class="button-wrapper">
        <button class="js-button-doppel highlight"><span>구독플갱어</span> 찾기</button>
        <button class="js-button-back">처음으로 돌아가기</button>
    </div>

    <p class="js-p-logout logout">로그아웃</p>
</div>