<div class="wrapper about">

    <img src="/img/banner.png" />
    <p class="intro">&nbsp;각기 다른 분야에서 활동하는 실무자 다섯 명이 모여 <span>AlineZ</span> 라는 크리에이터 연합을 만들었습니다. 백가지 생각보다 한 가지 행동을 가치있게 여기며 남다른 실행력으로 매력적인 아이디어를 구체화하여 생활 속 작은 부분부터 변화시키고자 노력 중 입니다. <span>이슈크리에이터</span>는 얼라인즈가 만들어낸 첫 번째 작은 불꽃이며 트렌드 한복판으로 뛰어들 수 있게 해주는 멋진 교두보 역할을 할 것입니다.</p>

    <div class="creator-wrapper">
        <p class="title">AlineZ Club Creator’s</p>

        <div class="member-list">
            <div class="member">
                <div class="banner" style="background-image: url(/img/DK.png);"></div>
                <p class="name">D.K</p>
                <p class="position">Marketer & Futurist</p>
                <p class="desc">I think it is possible for ordinary people to choose to be extraordinary.</p>
            </div>
            <div class="member">
                <div class="banner" style="background-image: url(/img/703.png);"></div>
                <p class="name">703</p>
                <p class="position">Designer & Dreamer</p>
                <p class="desc">Good design is unobtrusive. design should therefore be both neutral and restrained, to leave room for the user’s self-expression. Less, but better !!</p>
            </div>
            <div class="member">
                <div class="banner" style="background-image: url(/img/Sein.png);"></div>
                <p class="name">Sein</p>
                <p class="position">AI Developer & Thinker</p>
                <p class="desc">The question I hope you will carry forward from here is how will you serve humanity?</p>
            </div>
            <div class="member">
                <div class="banner" style="background-image: url(/img/Hyun.png);"></div>
                <p class="name">Hyun</p>
                <p class="position">Web(Full)/Android Developer & Billiards</p>
                <p class="desc">The world won't care about your self-esteem. The world will expect you to accomplish something  before you feel good about yourself.</p>
            </div>
            <div class="member">
                <div class="banner" style="background-image: url(/img/1.0.png);"></div>
                <p class="name">1.0</p>
                <p class="position">Web(Full)/IOS Developer & Normal</p>
                <p class="desc">If you're ready to die, live. If you try to live, you will die.</p>
            </div>

        </div>
    </div>

</div>
