<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="description" content="PetAdmin" />
    <meta name="keywords"  content="" />
    <meta name="theme-color" content="#333333">

    <title><%= title %></title>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.ico">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <% if (menu == 'main') { %>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <% } else if (menu == 'terms_privacy' || menu == 'terms_agreement') { %>
        <link rel="stylesheet" type="text/css" href="/css/terms.css" />
    <% } else if (menu == 'about') { %>
        <link rel="stylesheet" type="text/css" href="/css/about.css" />

    <% } else if (menu == 'youduck' || menu == 'youduck_login' || menu == 'youduck_rank' || menu == 'youduck_doppel') { %>
        <link rel="stylesheet" type="text/css" href="/css/youduck.css" />
    <% } %>
</head>
<body>
    <input class="js-input-hidden-menu" type="hidden" value="<%= menu %>" />

    <header>
        <div class="wrapper">
            <a href="/"><div class="logo-wrapper">
                <img src="/img/logo.png" />
                <p>ISSUE CREATOR</p>
            </div></a>
            <ul>
                <a href="/about"><li>ABOUT</li></a>
            </ul>
        </div>
    </header>

    <article>
        <% if (menu == 'main') { %>
            <% include ./main %>
        <% } else if (menu == 'terms_privacy') { %>
            <% include ./terms/privacy %>
        <% } else if (menu == 'terms_agreement') { %>
            <% include ./terms/agreement %>
        <% } else if (menu == 'about') { %>
            <% include ./about %>

        <% } else if (menu == 'youduck') { %>
            <% include ./youduck/main %>
        <% } else if (menu == 'youduck_login') { %>
            <% include ./youduck/login %>
        <% } else if (menu == 'youduck_rank') { %>
            <% include ./youduck/rank %>
        <% } else if (menu == 'youduck_doppel') { %>
            <% include ./youduck/doppel %>
        <% } %>
    </article>

    <footer>
        <div class="wrapper">
            <p class="copy">Copyright©AlineZ. All RIGHTS RESERVED.</p>
            <div class="terms-wrapper">
                <a href="/terms/privacy">개인정보 처리방침</a>
                <span class="dot">·</span>
                <a href="/terms/agreement">서비스 이용약관</a>
            </div>
        </div>
    </footer>

    <script src="/js/config.js"></script>
    <script src="/js/common.js"></script>

    <% if (menu == 'main') { %>
        <script src="/js/main.js"></script>
    <% } else if (menu == 'youduck' || menu == 'youduck_login' || menu == 'youduck_rank' || menu == 'youduck_doppel') { %>
        <script src="/js/youduck.js"></script>
    <% } %>

</body>
</html>
