<div class="wrapper main">
    
    <div class="project-list">

        <a href="/youduck"><div class="project">
            <div class="image-wrapper"><img src="/img/youduck/logo.png" /></div>
            <div class="desc-wrapper">
                <p class="cnt"><i class="fas fa-user"></i><span>123,655</span><i class="fas fa-heart"></i><span>20,817</span></p>
                <h3>유덕 (YouDuck)</h3>
                <p class="desc">내 구독채널과 다른사람의 구독채널을 비교해보자!</p>
                <div class="tag-list"><p class="tag">#유튜브</p><p class="tag">#Youtube</p><p class="tag">#구독랭킹</p><p class="tag">#구독플갱어</p></div>
            </div>
        </div></a>

    </div>

</div>