.wrapper.about {
    width: 800px;
    margin: 0 auto;
    padding: 64px 0;
    max-width: 96%;
}

.wrapper.about > img {
    width: 100%;
    height: auto;
}

.wrapper.about .intro {
    font-size: 1.1rem;
    line-height: 2.2rem;
    margin: 32px 0 0 0;
}
.wrapper.about .intro span {
    font-size: 1.4rem;
    font-weight: 700;
}

.wrapper.about .creator-wrapper {
    margin-top: 64px;
    padding-top: 64px;
    border-top: 1px solid #DFDFDF;
}
.wrapper.about .creator-wrapper .title {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
}

.wrapper.about .creator-wrapper .member-list {
    font-size: 0;
    padding: 0 32px;
}
.wrapper.about .creator-wrapper .member {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin-top: 64px;
    margin-left: 8%;
    text-align: center;
}
.wrapper.about .creator-wrapper .member:nth-child(2n-1) {
    margin-left: 0;
}
.wrapper.about .creator-wrapper .member .banner {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
}
.wrapper.about .creator-wrapper .member .name {
    margin: 16px 0 0 0;
    font-size: 1.2rem;
}
.wrapper.about .creator-wrapper .member .position {
    margin: 2px 0 0 0;
    font-size: 0.9rem;
    font-weight: 300;
}
.wrapper.about .creator-wrapper .member .desc {
    margin: 8px 0 0 0;
    font-size: 0.8rem;
    font-weight: 300;
}
